p{
    font-size:35px;
    font-weight: 800;
    /* font-style: oblique; */
    /* font-variant: small-caps; */
    font-family:'Courier New', Courier, monospace
/* inbuilt */
}
#txt {
    /* get code from google fonts */
    font-family: "Kolker Brush", cursive;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:"CUstom font";
    src: url('PlaywriteHU-VariableFont_wght.ttf');
}
.abc{
    color:blue;
    font-family:"CUstom font";
}
